- hosts: jenkins
  become: yes
  tasks:
    - name: Install Jenkins
      apt:
        name: jenkins
        state: present
      when: ansible_os_family == "Debian"

    - name: Install K3s
      shell: curl -sfL https://get.k3s.io | sh -

    - name: Install Prometheus and Grafana (via K3s manifests)
      shell: |
        kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/kube-prometheus/main/manifests/setup
        kubectl apply -f https://raw.githubusercontent.com/prometheus-operator/kube-prometheus/main/manifests/

    - name: Install SonarQube (lightweight)
      shell: |
        docker run -d --name sonarqube -p 9000:9000 sonarqube:lts-community
